@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    opacity: 0.5;
    border-radius: 1rem;
}

:not(body):-webkit-scrollbar-thumb {
    background-color: black;
    opacity: 0.5;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-track-piece {
    @apply bg-transparent;
}

:root {
    --color-primary: rgb(34,197,94);
    --color-secondary: #fff;
}

.main {
    @apply bg-black text-white;
}

.btn {
    @apply py-2 flex items-center gap-2 text-base lg:text-lg px-4 rounded-md font-medium active:opacity-75;
}    

.btn-primary {
    @apply bg-primary text-secondary;
}
.btn-secondary {
  @apply bg-secondary text-black;
}

.container {
    @apply px-[4rem] lg:px-[8rem] xl:px-[16rem] mx-auto
}
input, textarea, select , select > * {
    @apply bg-transparent rounded-md placeholder:text-neutral-500 outline-1 outline-dashed outline-neutral-700 py-2 px-4 text-primary focus:outline-primary font-mono text-xl transition-all w-[75%] focus:w-full;
}

.chip {
    @apply bg-neutral-700 rounded-md text-neutral-400 text-sm px-2 py-1 mr-2 mb-2 inline-block;
}

section {
    @apply flex flex-col justify-between items-center gap-16 px-4 lg:px-[8rem] xl:px-[16rem] py-24 text-center
}

section > h1 {
    @apply font-black tracking-tight text-6xl lg:text-7xl xl:text-8xl capitalize drop-shadow-[0_2px_80px_rgba(34,197,94,0.9)]
}

.prose *  {
    color: white !important;
}

.animate-jump {
    animation: animate-jump 1s ease-in-out infinite;
}

.animate-jump-rev {
    animation: animate-jump-rev 1s ease-in-out infinite reverse;
    animation-delay: 1s;
}

@keyframes animate-jump {
    0%,100% {
        opacity: 0.25;
        transform: translateY(0);
    }
    25%,75% {
        opacity: 1;
        /* transform: translateY(-1rem); */
    }
    50% {
        opacity: 0.5;
        transform: translateY(-2rem);
    }
}

@keyframes animate-jump-rev {
    0%,100% {
        opacity: 0.5;
        transform: translateY(-2rem);
    }
    25%,75% {
        opacity: 1;
        /* transform: translateY(-1rem); */
    }
    50% {
        opacity: 0.25;
        transform: translateY(0);
    }
}